
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>薄荷网-薄荷健康官网｜科学减肥 代谢健康｜科学减肥方案和减肥工具 - 薄荷网</title>
  <meta name="description" content="从健康减肥到健康生活，打造年轻家庭的健康消费平台，提供包括APP，营养食品，订阅制服务，健康内容等在内的综合解决方案。" />
  <meta name="keywords"  content="减肥,健康减肥,健康食品,瘦身,减肥方法,食物热量,标准体重" />
  <meta name="verify-v1" content="WPvgwdf4aqsujE8987ZHPpBNvtHguD/yT9AaQdi784c="/>
  <meta name="apple-itunes-app" content="app-id=457856023"/>
  <meta name="mobile-agent" content="format=xhtml;url=http://m.boohee.com">
  <link href="//up.boohee.cn/house/u/site/pc/main-v4.css" rel="stylesheet"/>
    <style>
    .boohee-logo {
      display: inline-block;
      width: 287px;
      height: 60px;
      top: 80px;
      position: absolute;
    }

    .home-logo {
        position: absolute;
        top: 205px;
        height: 78px;
        display: flex;
        align-items: center;
        left: 0;
    }
    .home-logo > span {
        font-size: 56px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 78px;
    }
    .home-logo > img {
        width: 56px;
        height: 59px;
        margin-left: 16px;
    }
  </style>


  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="eYDjSNr/7GCz2f+a4dCgmIjm2HE9kJc/lojyXRqG+HOh/jyR6o11P3WGeCMoq6u0Ue/EpPX7T4sG/ktluT9NIQ==" />
  <!--[if lt IE 9]>
  <script src="//s.boohee.cn/javascripts/v1/ext/html5shiv.min.js"></script>
  <script src="//s.boohee.cn/javascripts/v1/ext/respond.min.js"></script>
  <link href="//s.boohee.cn/javascripts/v1/ext/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
  <link href="//s.boohee.cn/javascripts/v1/ext/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
  <script src="//s.boohee.cn/javascripts/v1/ext/respond.proxy.js"></script>
  <![endif]-->
    <script>
  var _hmt = _hmt || [];
  _hmt.push(['_setCustomVar', 1, 'login', '0', 2]);
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?7263598dfd4db0dc29539a51f116b23a";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

  <style>
    html,body {
      font: 'normal normal 100%/normal -apple-system, 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif'
    }

    .new_logo {
      display: inline-block;
      width: 100px;
      height: 28px;
      background: transparent url(//up.boohee.cn/house/u/site/pc/logo240327.png) center center no-repeat;
      background-size: 100px 28px;
    }
  </style>
</head>
<body >
  
<div class="page-index">
  <hr class="hide" data-page="index"/>

  <header>
    <div class="clearfix row" style='width: 1200px;'>
      <div class="nav-menu">
        <a href="/" class="no-pl">
          <i class="new_logo"></i>
        </a>
      </div>

      <nav class="right clearfix nav">
        <div class="nav-menu ">
          <a href="/" class="clean-link">
            首页
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu ">
          <a href="/apps/boohee" class="clean-link">
            App
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu ">
          <a href="/boohee/members" class="clean-link">
            薄荷会员
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu ">
          <a href="/boohee/food" class="clean-link">
            薄荷食品
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu ">
          <a href="/boohee/channel" class="clean-link">
            薄荷频道
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu ">
          <a href="/boohee/cooperation" class="clean-link">
            商务合作
            <i class="separator"></i>
          </a>
        </div>

        
        <div class="nav-menu ">
          <a href="/food" class="clean-link">
            热量查询
            <i class="separator"></i>
          </a>
        </div>

        <div class="nav-menu search">
          <a href="/food" class="clean-link">
            <i class="icon-btn"></i>
          </a>
        </div>


      </nav>
    </div>
  </header>

  


<div class="relative x-adjustable-img">
  <img alt="薄荷" src="//up.boohee.cn/house/u/columbus/img/family1.png" class="xy-center"/>

  <div class="xy-center">

    <div class="home-logo">
      <span>薄荷健康，1.5亿人信赖的科学减肥专家</span>
    </div>
    <div class="absolute apps">

      <a href="#" class="btn-download-apps ios">
        <div class='arrow-box popper border arrow-bottom'>
          <img src="//up.boohee.cn/house/u/site/pc/boohee-app-download-qrcode.png" class="xy-center" />
        </div>
      </a>

      <a href="#" class="btn-download-apps android">
        <div class='arrow-box popper border arrow-bottom'>
          <img src="//up.boohee.cn/house/u/site/pc/boohee-app-download-qrcode.png" class="xy-center" />
        </div>
      </a>

      <a href="#" class="btn-download-apps wechat">
        <div class='arrow-box popper border arrow-bottom'>
          <img src="//up.boohee.cn/house/u/site/pc/weixin_qrcode2.png" class="xy-center" />s
        </div>
      </a>

    </div>
  </div>
</div>

<div class="y-gutter-120"></div>

<div class="row relative text-center section text-section">
  <i class="x-center"></i>
  <div class="y-gutter-25"></div>

  <h2>薄荷健康：让减肥，更简单</h2>
  <div class="y-gutter-35"></div>
  <p>薄荷健康始终认为“科学减肥”应当是基于科学理论的指导下，根据用户的自身情况和减肥目标制定个性化方案，以生活方式干预和临床治疗相结合的方式进行。其中，生活方式干预包括了合理膳食、规律运动，以及行为认知转变；临床治疗则包含了以 GLP-1 受体激动剂为代表的药物治疗，和适用于严重肥胖患者的手术治疗。</p>
</div>

<div class="y-gutter-120"></div>

<div class="row intro-section">
  <img src="//up.boohee.cn/house/u/site/pc/202408/site_app1.png" class="left"/>

  <div class="right">
    <h2>薄荷健康 APP</h2>
    <p>作为国内领先的一站式科学减肥平台，将继续夯实拳头业务，为用户提供食物热量查询、个性化减肥方案、体重管理工具、智能硬件设备、营养健康科普在内的多元化产品和服务
致力于为用户提供花费更少、体验更优的科学减肥解决方案</p>
    <a href="/apps/boohee" class="clean-link btn-more">查看更多</a>
  </div>
</div>

<div class="y-gutter-120"></div>

<div class="row intro-section healthy-food">
  <div class="left">
    <h2>营养食品</h2>
    <p>薄荷生活® 是薄荷健康旗下的科学轻食品牌，以现代营养学为核心，在合理膳食的基础上，满足当代消费者对于营养均衡、健康美味的品质追求</p>
    <a href="/boohee/food" class="clean-link btn-more">查看更多</a>
  </div>

  <img src="//up.boohee.cn/house/u/site/pc/202408/site_goods1.png" class="right"/>
</div>

<div class="y-gutter-120"></div>

<div class="row intro-section healthy-content">
  <img src="//up.boohee.cn/house/u/site/pc/202408/site_content.png" class="left"/>

  <div class="right">
    <h2>减肥内容</h2>
    <p>薄荷频道，打造专业原创代谢健康以及减重内容/课程</p>
    <p>改善代谢、强化营养、活力运动，各项内容均由专业人士审核，全网传播量超21亿</p>
    <a href="/boohee/channel" class="clean-link btn-more">查看更多</a>
  </div>
</div>

<div class="y-gutter-120"></div>

<div class="row text-center subscription-section">
  <h2>订阅制会员服务</h2>
  <p>一步开启年轻家庭的健康生活</p>
  <div class="y-gutter-25"></div>
  <p>为会员用户提供更强大的智能服务和更多的消费特权，包括个人定制化健康方案，营养分析，AI 营养师，会员专享定制食品等，轻享健康生活。</p>

  <div class="y-gutter-50"></div>

  <ul>
    <li>
      <i></i>
      每周食谱
    </li>
    <li>
      <i></i>
      营养分析
    </li>
    <li>
      <i></i>
      餐前建议
    </li>
    <li>
      <i></i>
      健康方案
    </li>
    <li>
      <i></i>
      解读配料
    </li>
    <li>
      <i></i>
      专享礼品
    </li>
    <li>
      <i></i>
      薄荷花田
    </li>
  </ul>

  <div class="y-gutter-50"></div>

  <a class="clean-link btn-more" href="/boohee/members">查看更多</a>
</div>

<div class="y-gutter-120"></div>

<form class="relative x-adjustable-img text-center food-database-section">
  <img alt="薄荷" src="//up.boohee.cn/house/u/site/pc/index/food-database-bg.png" class="xy-center" />

  <div class="xy-center">
    <h2>超过 100 万种食物数据</h2>

    <div class="y-gutter-15"></div>

    <p>食物营养查询，吃适合的食物</p>

    <div class="y-gutter-80"></div>

    <div class="border-box search">
      <div class="padding-box left field">
        <div>
          <input id="search-ipt" type="text" placeholder="薄荷超全食物热量和营养库，吃前查一查饮食更健康" value="" />
        </div>
      </div>
      <a href="#" class="hide-text text-center clean-link left table btn-search">
        <span class="cell middle">搜索薄荷</span>
      </a>
    </div>

  </div>
</form>

<div class="y-gutter-120"></div>

<div class="row text-center health-tools-section">
  <h2>健康工具</h2>

  <div class="row-1">
    <a href="/assessment/calory" class="clean-link">
      <i></i>
      <h6>卡路里计算器</h6>
      <p>添加食物计算每日摄取卡路里</p>
    </a>

    <a href="/assessment/bmi" class="clean-link">
      <i></i>
      <h6>身体质量指数(BMI)</h6>
      <p>衡量是否超重的重要指标</p>
    </a>

    <a href="/assessment/standard_weight" class="clean-link">
      <i></i>
      <h6>标准体重计算</h6>
      <p>轻松算出标准体重</p>
    </a>
  </div>

  <div class="row-2">
    <a href="assessment/health_weight" class="clean-link">
      <i></i>
      <h6>健康体重范围</h6>
      <p>健康的体重有助于保持健康状态</p>
    </a>

    <a href="/assessment/bmr" class="clean-link">
      <i></i>
      <h6>基础代谢计算</h6>
      <p>基础代谢率对减肥有非常大的影响</p>
    </a>

    <a href="/assessment/heart_rate" class="clean-link">
      <i></i>
      <h6>燃脂运动计算</h6>
      <p>怎样运动才能燃烧脂肪呢</p>
    </a>
  </div>
</div>

<div class="y-gutter-120"></div>

<div class="text-center row popular-topic-section">
  <h2>热门关注</h2>

  <div class="popular-topics">
    <a href="/jianfei/jianfeishipu" class="clean-link left">减肥食谱</a>
    <a href="/jianfei/jianfeiyundong" class="clean-link left">减肥运动</a>
    <a href="/jianfei/ruhejianfei" class="clean-link left">如何减肥</a>
    <a href="/jianfei/jianfeifangfa" class="clean-link left">减肥方法</a>
    <a href="/jianfei/xueshengjianfei" class="clean-link left">学生减肥</a>
    <a href="/jianfei/xiajijianfei" class="clean-link left">夏季减肥</a>

    <a href="/jianfei/shouyao" class="clean-link left">瘦腰</a>
    <a href="/jianfei/shoutui" class="clean-link left">瘦腿</a>
    <a href="/jianfei/bianmi" class="clean-link left">便秘</a>
    <a href="/jianfei/chaomo25" class="clean-link left">超模 25</a>
    <a href="/jianfei/chunjijianfei" class="clean-link left">春季减肥</a>

    <a href="/user_ask/asks_with_tag?tag=%E4%B8%8A%E7%8F%AD%E6%97%8F%E5%87%8F%E8%82%A5" class="clean-link left">上班族减肥</a>
    <a href="/user_ask/asks_with_tag?tag=%E5%87%8F%E8%82%A5%E4%B8%8E%E7%94%9F%E7%90%86%E6%9C%9F" class="clean-link left">减肥与生理期</a>
    <a href="/user_ask/asks_with_tag?tag=%E8%8A%82%E9%A3%9F%E5%87%8F%E8%82%A5" class="clean-link left">节食减肥</a>
    <a href="/user_ask/asks_with_tag?tag=%E8%B7%91%E6%AD%A5%E5%87%8F%E8%82%A5" class="clean-link left">跑步减肥</a>
    <a href="/user_ask/asks_with_tag?tag=%E6%B8%B8%E6%B3%B3%E5%87%8F%E8%82%A5" class="clean-link left">游泳减肥</a>
    <a href="/user_ask/asks_with_tag?tag=%E7%98%A6%E6%89%8B%E8%87%82" class="clean-link left">瘦手臂</a>
  </div>

  <div class="y-gutter-50"></div>

  <a href="/user_ask" class="clean-link btn-more">更多健康相关知识</a>
</div>

<div class="y-gutter-120"></div>
<div class="y-gutter-120"></div>




  <footer class="row">
  <div class="padding-box footer">
    <div>

      <div class="flex">
        <div class="part-left flex socail-medias">

          <a href="#" class="wechat">
            <div class='arrow-box popper border arrow-top'>
              <div class="xy-center">
                <img src="//up.boohee.cn/house/u/site/pc/weixin_qrcode2.png" class="xy-center"/>
              </div>
            </div>
          </a>
          <a href="https://weibo.com/1822042062/profile?topnav=1&wvr=6&is_all=1" class="weibo">
            <div class='arrow-box popper border arrow-top'>
              <div class="xy-center">
                <img src="//up.boohee.cn/house/u/site/pc/boohee-qrcode-weibo.png" class="xy-center"/>
              </div>
            </div>
          </a>

          <a href="https://www.xiaohongshu.com/user/profile/59e9963382ec397c771ccfd1?xhsshare=CopyLink&appuid=59e9963382ec397c771ccfd1&apptime=1574732748" class="red">
            <div class='arrow-box popper border arrow-top'>
              <div class="xy-center">
                <img src="//up.boohee.cn/house/u/site/pc/boohee-qrcode-red.png" class="xy-center"/>
              </div>
            </div>
          </a>

          <a href="#" class="douyin">
            <div class='arrow-box popper border arrow-top'>
              <div class="xy-center">
                <img src="//up.boohee.cn/house/u/site/pc/douyin_qrcode2.png" class="xy-center"/>
              </div>
            </div>
          </a>

          <a href="https://space.bilibili.com/19729246" class="bilibili">
            <div class='arrow-box popper border arrow-top'>
              <div class="xy-center">
                <img src="//up.boohee.cn/house/u/site/pc/boohee-qrcode-bilibili.png" class="xy-center"/>
              </div>
            </div>
          </a>

        </div>

        <div class="text-center part-right flex other-interlinks">
          <a href="/boohee/cooperation" class="clean-link">商务合作</a>
          <a href="/boohee/join" class="clean-link">加入薄荷</a>
          <a href="/boohee/about" class="clean-link">关于薄荷</a>
          <a href="/boohee/declare" class="clean-link">法律声明</a>
          <a href="/common/ethics" class="clean-link">廉正举报</a>
        </div>
      </div>

      <div class="certificates">
        <a href="http://scjgj.sh.gov.cn" class="text-center table clean-link right"><span class="cell middle">上海工商</span></a>
        <a href="http://www.zx110.org/" class="clean-link right">网络社会<br/>征信网</a>
        <a href="http://www.cyberpolice.cn/wfjb/" class="clean-link right">上海网警<br/>网络 110</a>
        <a href="http://beian.miit.gov.cn/" class="clean-link right">沪ICP备<br/>06060176号</a>
      </div>

      <i></i>
        
      <p class="text-center">媒体报道：pr@boohee.com<a href="/common/ethics"  style="margin-left: 20px" class="clean-link">廉正举报：ethics@boohee.com</a></p>
      <p class="text-center">
        版权所有 &#169 2006~2024 薄荷网 boohee.com <a href="http://beian.miit.gov.cn/" class="clean-link">沪ICP备06060176号</a>  |
        <a href="/common/licenses" class="clean-link">证照信息</a>
      </p>
    </div>
  </div>
</footer>

<div class="y-gutter-120"></div>
</div>
<script>
  (function(w, d, n, a, j) {
    w[n] = w[n] || function() {
      (w[n].a = w[n].a || []).push(arguments);
    };
    j = d.createElement('script');
    j.async = true;
    j.src = 'https://qiyukf.com/script/03b3cf8338d9eab1f52c068c92e38606.js';
    d.body.appendChild(j);
  })(window, document, 'ysf');
</script>
  
  <script src="https://cdn.staticfile.org/jquery/3.7.0/jquery.min.js"></script>
  
  <script>
    $(document).ready(function() {
      $('.btn-search').click(function() {
        var data = $('#search-ipt').val();
        window.location.href = "/food/search?keyword=" + data;
      })
      
      $('#search-ipt').keyup(function(event) {
        // 检查按下的键是否是回车键（键码 13）
        if (event.keyCode === 13) {
          // 在这里执行特定的动作
          var data = $(this).val();
          window.location.href = "/food/search?keyword=" + data; 
        }
      });

      var $frmSearchFood = $('.food-database-section');
      $frmSearchFood.submit(e => {
        e.preventDefault();
        $('.btn-search').click();
        // 取值、处理、验证、发送请求等从这里开展...
      });
    })

  </script>

  <script src="//up.boohee.cn/house/u/site/pc/main-v3.js"></script>
</body>
</html>
